@using GameStore.Web.App_LocalResources

@{
    ViewBag.Title = "NothingToDisplay";
}

<h2>@GlobalRes.NothingToDisplay</h2>

<p>
    @Html.ActionLink(GlobalRes.BackToGames, "FilteredGames", "Game")
</p>
