@model GameStore.ViewModels.FilterViewModel
@{
    ViewBag.Title = "Games";
}

<h2>Games</h2>

<div class="row">

    <div class="col-xs-6 col-md-4">
        @Html.Action("GamesFilters", "Game", Model)
    </div>

    <div class="col-xs-6 col-md-4">
        @Html.Action("FilteredGames", "Game", Model )
    </div>

</div>