
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <center>
        <h1>Oooops</h1>
        <h2>The page you are looking is not found</h2>
    </center>
</div>
</body>
</html>
