@model GameStore.Web.ViewModels.PlatformTypeViewModel

@{
    ViewBag.Title = "Get";
}
<h2>PlatformType</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
