@using GameStore.Web.App_LocalResources

@{
    ViewBag.Title = "Orders";
}

<li> @Html.ActionLink(GlobalRes.HistoryOrders, "HistoryOrders", "Order")</li>

<li> @Html.ActionLink(GlobalRes.Orders, "Orders", "Order")</li>